<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Files</title>
</head>
<body>
    <h1>Enter Text to Generate Word and PDF Files</h1>
    <form action="/generate" method="POST">
        <textarea name="text" rows="30" cols="150" placeholder="Enter the text ..." ></textarea><br><br>
        <input type="text" name="name" placeholder="Enter Name of Files ... ">
        <button type="submit">Generate Files</button>
    </form>
</body>
</html>